* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    text-align: center;
}

header {
    padding: 10px;
    background-color: rgb(0, 0, 0);
    position: fixed;
    width: 100vw;
}

header a {
    text-decoration: none;
}

header a:hover {
    background-color: #fca311;
}

body {
    background-color: rgb(220, 220, 220);
}


header ul {
    text-align: center;
}

header ul li {
    display: inline-block;
}

ul a[href] {
    color: white;
    padding: 5px;
    margin: 5px;
}

.profile-picture {
    background-size: cover;
    background-position: center;
    padding: 70px;
    background: rgba(255, 255, 255, 0.6) url("/images/coding-background.jpg");
    background-blend-mode: lighten;
}

.profile-picture img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    padding: 20px;
    
}

#full-name h1,
#full-name h2 {
    text-align: center;
    margin-bottom: 10px;
}


#about-me {
    text-align: center;

}

.social-links {
    
    display: flex;
    justify-content: center;
}

.social-links a {
    margin: 10px 50px;
    color: black;
}

.social-links a:hover {
    color: white;
}

#experience-section *{
    padding: 5px;
}

.generation {
    border-left: 10px solid  rgb(21, 79, 80);
    border-radius: 10px;
    max-width: 700px;
    margin: 10px auto;
    background-color: rgb(27, 110, 112);
    color: rgba(0, 255, 255, 0.818);
}

li {
    list-style: none;
}

#skills-section h2 {
    padding: 20px;
}

#skills-list {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;

}

.skills {
    height: auto;
    width: 75px;
    margin: 20px;
    margin-bottom: 25px;
    transition: transform .2s;
}

.skills:hover {
      /* Animation */
    transform: scale(1.5)
}

#project-section p {
    padding-bottom: 20px;
}

.container {
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 10px;
    background-color: white;
    box-shadow: 0 0 8px rgb(109, 108, 108);
}


.container img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}



#education-section * {
    padding: 10px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }
}



